llama-index==0.10.20
openai==1.2.4
fastapi==0.111.0
uvicorn==0.29.0
python-dotenv==1.0.1


google-auth-httplib2
transformers
torch


streamlit
requests
python-dotenv
google-api-python-client
google-auth
google-auth-oauthlib
llama-index
nltk
sentence-transformers
cohere
